// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

@function scale-alpha($c, $a) {
  @return scale-color($c, $alpha: percentage(-1 + $a));
}

@function chroma($c) {
  @return mix($c, $grey_800, 75%);
}

@import 'color-palette';
@import 'equilux-palette';

// Foreground colors
$dark_fg_color: scale-alpha($black, 0.8);
$light_fg_color: $e190;

$fg_color: if($variant == 'light', $dark_fg_color, $light_fg_color);
$secondary_fg_color: scale-alpha($fg_color, $secondary_opacity);
$tertiary_fg_color: scale-alpha($fg_color, $tertiary_opacity);

$inverse_fg_color: $light_fg_color;
$secondary_inverse_fg_color: scale-alpha($inverse_fg_color, $secondary_opacity);
$tertiary_inverse_fg_color: scale-alpha($inverse_fg_color, $tertiary_opacity);

$titlebar_fg_color: if($titlebar == 'dark', $inverse_fg_color, $fg_color);
$secondary_titlebar_fg_color: if($titlebar == 'dark', $secondary_inverse_fg_color, $secondary_fg_color);
$tertiary_titlebar_fg_color: if($titlebar == 'dark', $tertiary_inverse_fg_color, $tertiary_fg_color);

$disabled_fg_color: scale-alpha($fg_color, $disabled_opacity);
$disabled_secondary_fg_color: scale-alpha($secondary_fg_color, $disabled_opacity);
$disabled_tertiary_fg_color: scale-alpha($tertiary_fg_color, $disabled_opacity);

$disabled_inverse_fg_color: scale-alpha($inverse_fg_color, $disabled_opacity);
$disabled_secondary_inverse_fg_color: scale-alpha($secondary_inverse_fg_color, $disabled_opacity);
$disabled_tertiary_inverse_fg_color: scale-alpha($tertiary_inverse_fg_color, $disabled_opacity);

$disabled_titlebar_fg_color: if($titlebar == 'dark', $disabled_inverse_fg_color, $disabled_fg_color);
$disabled_secondary_titlebar_fg_color: if($titlebar == 'dark', $disabled_secondary_inverse_fg_color, $disabled_secondary_fg_color);
$disabled_tertiary_titlebar_fg_color: if($titlebar == 'dark', $disabled_tertiary_inverse_fg_color, $disabled_tertiary_fg_color);

$bg_color:         if($variant == 'light', $grey_100, $e55);
$base_color:       if($variant == 'light', $white,    $e65);
$alt_base_color:   if($variant == 'light', $grey_50,  $e60);
$lighter_bg_color: if($variant == 'light', $grey_50,  $e70);
$darker_bg_color:  if($variant == 'light', $grey_200, $e50);

$titlebar_bg_color:     if($variant == 'light', if($titlebar == 'dark', $e55, $grey_300), $e55);
$alt_titlebar_bg_color: if($titlebar == 'dark', $e55, mix($grey_300, $grey_400, 50%));
$panel_bg_color:        if($titlebar == 'dark', $e50, mix($grey_300, $grey_400, 50%));

$fill_color: gtkalpha(currentColor, $lower_opacity);
$semi_fill_color: gtkalpha(currentColor, $lower_opacity / 2);
$row_fill_color: gtkalpha(currentColor, 0.05);

// Misc colors
$primary_color:            $e90;
$alt_primary_color:       $e128;
$accent_color:            $e190;

$link_color:          $e190b100;
$visited_link_color:   $e140b60;

$warning_color:       $e190y100;
$warning_bg_color:     $e90y100;

$error_color:         $e190m100;
$error_bg_color:       $e90m100;

$success_color:       $e190g100;
$success_bg_color:     $e90g100;

$suggested_color:     $e190c100;
$suggested_bg_color:   $e90c100;

$destructive_color:   $e190r100;
$destructive_bg_color: $e90r100;

$info_bg_color:        $e90g100;

$question_bg_color:    $e90c100;

$border_color: if($variant == 'light', scale-alpha($black, 0.1), scale-alpha($black, 0.2));
$highlight_color: if($variant == 'light', scale-alpha($white, 0.4), scale-alpha($white, 0.1));
$alt_highlight_color: scale-alpha($white, 0.2);
$unity_highlight_color: if($titlebar == 'dark', scale-alpha($white, 0.1), scale-alpha($white, 0.2));
$titlebar_highlight_color: if($titlebar == 'dark', scale-alpha($white, 0.15), $highlight_color);
$titlebar_indicator_color: if($titlebar == 'dark', currentColor, $primary_color);

// FIXME: @placeholder_text_color should really use $tertiary_fg_color, but
// doesn't work translucent colors here. So we use an opaque color instead.
$placeholder_text_color: mix($fg_color, $base_color, percentage($tertiary_opacity));
