// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@import 'color-palette';
$grey_850: #303030; // extra color from Material Design Guidelines
$materia_blue: #338DD6;

@import 'equilux-palette';

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

// Foreground colors
$dark_fg_color:                        rgba($black, 0.87);
$light_fg_color:                       $e190;

$fg_color:                             $e190;
$button_fg_color:                      rgba($e190, 0.8); // extra fg color for raised buttons
$secondary_fg_color:                   rgba($e190, 0.7);
$hint_fg_color:                        rgba($e190, 0.5);
$disabled_fg_color:                    rgba($e190, 0.5);
$disabled_secondary_fg_color:          rgba($e190, 0.3);
$track_color:                          rgba($e190, 0.3);
$divider_color:                        rgba($e190, 0.12);

$titlebar_fg_color:                    $e190;
$titlebar_secondary_fg_color:          rgba($e190, 0.7);
$titlebar_hint_fg_color:               rgba($e190, 0.5);
$titlebar_disabled_fg_color:           rgba($e190, 0.5);
$titlebar_disabled_secondary_fg_color: rgba($e190, 0.3);
$titlebar_track_color:                 rgba($e190, 0.3);
$titlebar_divider_color:               rgba($e190, 0.12);

$inverse_fg_color:                     $e190;
$inverse_secondary_fg_color:           rgba($e190, 0.7);
$inverse_hint_fg_color:                rgba($e190, 0.5);
$inverse_disabled_fg_color:            rgba($e190, 0.5);
$inverse_disabled_secondary_fg_color:  rgba($e190, 0.3);
$inverse_track_color:                  rgba($e190, 0.3);
$inverse_divider_color:                rgba($e190, 0.12);

// Background colors
$bg_color:                             $e55;
$base_color:                           $e65;
$alt_base_color:                       $e60;
$lighter_bg_color:                     $e70;
$alt_lighter_bg_color:                 $e65; // for gnome-shell sub menu
$darker_bg_color:                      $e50;

$titlebar_bg_color:                    $e55;
$alt_titlebar_bg_color:                $e55;
$panel_bg_color:                       $e50;
$alt_panel_bg_color:                   rgba($black, $lower_opacity);
$inverse_panel_bg_color:               rgba($inverse_fg_color, 0.1);
$solid_panel_bg_color:                 $e50;
$opaque_panel_bg_color:                $e50;

$gdm_bg_color:                         $e50;

$fill_color:                           gtkalpha(currentColor, $lower_opacity);
$semi_fill_color:                      gtkalpha(currentColor, $lower_opacity / 2);
$row_fill_color:                       gtkalpha(currentColor, 0.05);

// Misc colors
$primary_color:                        $e90;
$alt_primary_color:                    $e128;
$accent_color:                         $e190;
$disabled_accent_color:                rgba($accent_color, 0.5);

$link_color:                           $e190b100;
$visited_link_color:                   $e140b60;

$warning_color:                        $e190y100;
$warning_bg_color:                     $e90y100;

$error_color:                          $e190m100;
$error_bg_color:                       $e90m100;

$success_color:                        $e190g100;
$success_bg_color:                     $e90g100;

$suggested_color:                      $e190c100;
$suggested_bg_color:                   $e90c100;

$destructive_color:                    $e190r100;
$destructive_bg_color:                 $e90r100;

$info_bg_color:                        $e90g100;

$question_bg_color:                    $e90c100;

$tooltip_bg_color:                     $e70;
$tooltip_fg_color:                     $inverse_fg_color;

$border_color:                         rgba($black, 0.2);
$alt_border_color:                     rgba($white, 0.2); // for non-native GTK+ apps (e.g. Firefox and Chrome)
$highlight_color:                      rgba($white, 0.1);
$titlebar_highlight_color:             rgba($white, 0.1);
$alt_highlight_color:                  rgba($white, 0.2); // for selection-mode headerbar which colored with primary color
$titlebar_indicator_color:             currentColor;

// for Electron/Atom menu which cannot use translucent colors
$opaque_fg_color:                      $e190;
$opaque_secondary_fg_color:            mix($e190, $base_color, percentage(0.7));
$opaque_disabled_fg_color:             mix($e190, $base_color, percentage(0.5));
$opaque_divider_color:                 mix($e190, $base_color, percentage(0.12));

// FIXME: gtk's @placeholder_text_color API really should use $secondary_fg_color,
// but it doesn't work with translucent colors. So we use opaque colors instead.
$placeholder_text_color:               mix($white, $base_color, percentage(0.7));

$level_bar_fg_color:                   $e190;
$level_bar_bg_color:                   rgba($e190, 0.3);
